<p>Hi <%= @resource.email %>!</p>

<p>You just need to <%= link_to 'confirm your account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %> now. Click <%= link_to 'here', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %> or follow the link below:</p>

<p><%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
